.tableComponent{
  margin-top: 20px;
  > ul.tableHeaders{
    @include flexbox;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    li{
      padding: 5px 0;
      height: 40px;

      > div{
        @include flexbox;
        align-items: center;
        height: 100%;

        i {
          color: $lightPink;
          margin-left: 10px;
        }

        &,i{
          transition: color 0.1s ease-in;
        }

        &.active{
          &,i{
            transition: color 0.1s ease-in;
            color: $darkOrange;
          }
        }
        &:hover {
          &,i{
            transition: color 0.1s ease-in;
            color: $lightOrange;
            cursor: pointer;
          }
        }
      }
    }
  }

  > div.tableData{
    @include flexbox;
    flex-direction: column;
    ul{
      @include flexbox;
      border-bottom: 1px solid black;
      li{
        padding: 5px 0;
        height: 40px;

        > div{
          @include flexbox;
          align-items: center;
          height: 100%;
        }
      }
    }
  }
}