@import "global/colors.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "global/keyframes.scss";
@import "global/helperStyles.scss";
@import "components/loading.scss";
@import "components/panels.scss";
@import "components/table.scss";


*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: $darkGrey;
}

html{
  background-color: #fbfbfc;
}

body{
  width: 100%;
  height: 100vh;
}

#root, #dashboard{
  width: 100%;
  height: 100%;
}

#dashboard{
  @include flexbox;
}

div{
  width: 100%;
}

ul,li{
  list-style: none;
}