$green: green;
$mainColor: $green;

$black: rgba(27, 27, 27, 1);
$darkOrange: rgba(255, 94, 91, 1);
$lightOrange: rgba(248, 112, 96, 1);
$pink: rgba(254, 192, 170, 1);
$lightPink: rgba(237, 211, 196, 1);
$grey: #c3c3c3;
$darkGrey: #292727;
$hoverColorLightPink: #f7d2bc;